body {
	background: white;
}

.mui-input-group {
	border-top: 0.01rem solid #d9dfd5;
	margin-top: 30px;
	padding: 0 0 0 20px;
	background: #fff;
	position: relative;
	z-index:1;
}

.mui-input-group .mui-input-row {
	position: relative;
	height: 2rem;
	z-index:1;
}

.mui-input-row label {
	display: block;
	position: absolute;
	top: 0.7rem;
	left: 0;
	width: 10%;
}

.mui-input-row .username {
	background: url(../images/login/icon_username.png) no-repeat;
	background-size: 55% 95%;
}

.mui-input-row .mui-input {
	width: 90%;
	height: 100%;
	font-size: 16px;
}

.mui-input-row .password {
	background: url(../images/login/icon_password.png) no-repeat;
	background-size: 55% 95%;
}

.mui-input-row img {
	width: 2.5rem;
	height: 1.2rem;
	position: absolute;
	top: 0.35rem;
	right: 0.7rem;
	border:1px solid rgb(163, 163, 163);
	font-size:20px;
	color:rgb(185, 0, 0);
}

.forgetpassword {
	margin: 15px 30px 0 20px;
	font-size: 15px;
}

.forgetpassword a {
	color: #008842;
}

.btn {
	margin-top: 0.7rem;
}

.mui-btn {
	width: 37%;
	height: 40px;
	font-size: 16px;
}

.mui-btn-primary {
	margin-right: 1rem;
	background: #008842;
	border: none;
}

.mui-btn-danger {
	background: #fff;
	border: 1px solid #008842;
	color: #008842;
}

.bottomcopyright {
	width: 100%;
	text-align: center;
	bottom: 15px;
	left: 0;
	padding: 10px;
	position: absolute;
	box-sizing: border-box;
}

.yigo_logo {
	width: 104px;
	height: 34px;
	background-image: url(../images/login/yiguo_logo.png);
	background-size: 100% 100%;
	margin: 0 auto;
	display: block;
}

@media(min-width:768px) {
	.mui-input-row .mui-input {
		font-size: 25px;
	}

	.mui-input-row label {
		top: 0.8rem;
		width: 8%;
	}

	.mui-input-row .username {
		background-size: 60% 100%;
	}

	.mui-input-row .password {
		background-size: 60% 100%;
	}

	.forgetpassword {
		font-size: 22px;
	}
	.mui-btn {
		height: 60px;
		font-size: 22px;
	}
	.tip{
		font-size:20px;
	}
}
.tip{
	width:4.5rem;
	height:1.5rem;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	top:50%;
	left:50%;
	z-index:10;
	border-radius:5px;
	text-align:center;
	line-height:1.5rem;
	color:white;
	margin-top:-0.75rem;
	margin-left:-2.25rem;
	display:none;
}