body {
    background: white;
}

.mui-input-group {
    border-top: 0.01rem solid #d9dfd5;
    margin-top: 30px;
    padding: 0 0 0 20px;
    background: #fff;
}

.mui-input-group .mui-input-row {
    position: relative;
    height: 2rem;
}

.mui-input-row input{
    width: 90%;
    height: 100%;
    font-size: 16px;
}

.getvc {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0 .2rem;
    box-sizing: border-box;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    background: #008842;
}
.countdown{
    background-color: gray;
}
.agreement {
    margin-top: 10px;
    text-align: center;
    color: #8d8a8a;
    padding-left: 17px;
    position: relative;
}

.agreement input {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 3px;
    left: 1.7rem;
}

.green {
    color: #008842;
}

.btn {
    width: 50%;
    margin:1rem auto 0;
}

.mui-btn {
    width: 100%;
    height: 40px;
    font-size: 16px;
}

.mui-btn-danger {
    margin-right: 1rem;
    background: #008842;
    border: none;
}
@media(min-width:768px) {
    .mui-input-row .mui-input {
		font-size: 25px;
    }
    .getvc {
        top: 45px;
        font-size: 20px;
    }
    .agreement {
        margin-top: 30px;
        font-size: 20px;
    }
    .agreement input {
        width: 20px;
        height: 20px;
        top: 7px;
        left: 2.5rem;
    }
    .mui-btn {
        height: 60px;
        font-size: 23px;
    }
}
@media(min-width:1024px){
    .agreement input {
        left: 3.3rem;
    }
}
@media(max-height:480px){
    .agreement input {
        left: 0.9rem;
    }
}
@media(max-height:568px){
    .agreement input {
        left: 0.8rem;
    }
}
.mask{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1010;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display:none;
}
.imgverify{
        position: absolute;
        top: 5%;
        left: 50%;
        width: 11rem;
        height: 5rem;
        margin-left: -5.5rem;
        border-radius: .1rem;
        background-color: #fff;
}
.top {
    z-index: 100;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: .3rem .4rem;
    box-sizing: border-box;
    background: #fff;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.top p{
    text-align: left;
    line-height: .8rem;
    color:black;
}
.closebtn {
    position: absolute;
    top: .4rem;
    right: .5rem;
    display: inline-block;
    width: .53rem;
    height: .53rem;
    background: url(../images/login/icon_arrow\ .png) no-repeat;
    background-size: 100% 100%;
}
.bottom{
    width: 60%;
    margin: 0 auto;
    padding: .5rem 0 0;
    overflow: hidden;
}
.bottom input {
    float: left;
    width: 60%;
    border: 1px solid #ccc;
    height: 1rem;
    padding: .2rem;
    box-sizing: border-box;
}
.bottom img {
    float: right;
    width: 35%;
    height: 1rem;
}
.buttons{
        height: 1rem;
}
.submit{
    display: block;
    padding: .2rem 1rem;
    background: #008842;
    color: #fff;
    margin: 0 auto;
    border-radius: 3px;
    border: none;
    font-size:0.43rem
}
.tip{
	width:4.5rem;
	height:1.5rem;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	top:50%;
	left:50%;
	z-index: 1020;
	border-radius:5px;
	text-align:center;
	line-height:1.5rem;
	color:white;
	margin-top:-0.75rem;
	margin-left:-2.25rem;
	display:none;
}