body {
	font-size: 12px;
}

.cart_login {
	width: 100%;
	height: 1.32rem;
	line-height: 1.32rem;
	font-size: 0.42rem;
	background: white;
	color: #808080;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
}

.cart_login a {
	display: inline-block;
	width: 1.8rem;
	height: .72rem;
	margin: 0 0 0 .42rem;
	line-height: .72rem;
	color: #808080;
	border: 1px solid #ddd;
	box-sizing: border-box;
	border-radius: 6px;
	border-color: #808080;
}